.App {
    text-align: center;
    background-color: #b4e7e4;
}

#topName:hover {
    text-decoration: none;
}

#mainPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.navLinks a {
    border-bottom: 1px solid transparent;
    padding: 8px 6px;
    margin-right: 20px;
}

.navLinks a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
    /* color: #91fff2; */
}

#mobileNavIcon:hover {
    background-color: transparent;
}

#mobileNavIcon.hamburger svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

#mobileMenu {
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#mobileMenu a {
    width: 100% !important;
    height: 100% !important;
    padding: 20px !important;
    border-top: 1px dashed black !important;
    margin-top: 0;
}

#resumeLink,
#resumeLink2 {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px 14px;
}

#resumeLink2 {
    padding: 12px 18px;
}

#resumeLink:hover,
#resumeLink2:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}

.iconButton {
    color: white;
    padding: 20px;
    width: 60px;
    border-width: 2.5px;
    border-style: solid;
}

.fa-bounce {
    --fa-animation-delay: 5s;
    --fa-animation-duration: 2.5s;
    --fa-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    cursor: pointer;
    padding: 10px;
    opacity: 0.4;
}

.fa-bounce:hover {
    opacity: 1;
    transition: 0.3s;
}

.section {
    min-height: calc(100vh + 75px);
    border-bottom: 2px solid black;
    border-bottom-color: #888;
}

span {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .skillgrid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .aboutCard {
        text-align: center !important;
        flex-direction: column !important;
    }

    .aboutCard.rightAligned {
        flex-direction: column-reverse !important;
    }

    .aboutCard h2 {
        margin-bottom: 25px !important;
    }

    .aboutCard img {
        margin-top: 25px !important;
    }

    .iconListing {
        flex-direction: column !important;
        gap: 1rem !important;
    }

    #social {
        bottom: 5px !important;
        left: 5px !important;
    }

    #social #socialFlex {
        flex-direction: column !important;
        gap: 5px;
    }

    #social button {
        width: 45px !important;
        height: 45px !important;
        margin-right: 2px !important;
    }

    #social button svg {
        font-size: 28px !important;
    }
}

.skillgrid div {
    padding: 0 !important;
}