.App {
    text-align: center;
    background-color: #b4e7e4;
}

#topName:hover {
    text-decoration: none;
}

#mainPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.navLinks a {
    border-bottom: 1px solid transparent;
    padding: 8px 6px;
}

.navLinks a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
    /* color: #91fff2; */
}

#resumeLink {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px 14px;
}

#resumeLink:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}

.iconButton {
    color: white;
    padding: 20px;
}

#githubIcon:hover {
    color: white;
    background-color: #171515;
}

#linkedinIcon:hover {
    color: white;
    background-color: #0077B5;
}