.App {
    text-align: center;
    background-color: #b4e7e4;
}

#topName:hover {
    text-decoration: none;
}

#mainPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.navLinks a {
    border-bottom: 1px solid transparent;
    padding: 8px 6px;
}

.navLinks a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
    /* color: #91fff2; */
}

#resumeLink,
#resumeLink2 {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px 14px;
}

#resumeLink2 {
    padding: 12px 18px;
}

#resumeLink:hover,
#resumeLink2:hover {
    color: white;
    background-color: black;
    transition: 0.3s;
}

.iconButton {
    color: white;
    padding: 20px;
    width: 60px;
    border-width: 2.5px;
    border-style: solid;
}

.fa-bounce {
    --fa-animation-delay: 5s;
    --fa-animation-duration: 2.5s;
    --fa-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    cursor: pointer;
    padding: 10px;
    opacity: 0.4;
}

.fa-bounce:hover {
    opacity: 1;
    transition: 0.3s;
}

.section {
    min-height: calc(100vh + 75px);
    border-bottom: 2px solid black;
    border-bottom-color: #888;
}

span {
    text-decoration: underline;
}